/* Currently empty; any Channel Central-specific styles that need to override Site.css generic ones for the SignIn.aspx or Accounts.aspx pages can be added here */
	div#headerBar{background-image: url('http://www.channelcentral.net/images/logo/iQuote_Generic.png'); background-position: 20px 20px; background-color:#4D4D4F;}
	div#footer, div.footer {background-color:#4D4D4F;}
