@font-face {
  font-family: 'HP';
  src: url("//www.channelcentral.net/styles/fonts/HPSimplifiedW04-Regular.eot");
  src: url("//www.channelcentral.net/styles/fonts/HPSimplifiedW04-Regular.eot?#iefix") format("embedded-opentype"), 
  url("//www.channelcentral.net/styles/fonts/HPSimplifiedW04-Regular.woff") format("woff"), 
  url("//www.channelcentral.net/styles/fonts/HPSimplifiedW04-Regular.ttf") format("truetype"), 
  url("//www.channelcentral.net/styles/fonts/HPSimplifiedW04-Regular.svg#HPRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HPbold';
  src: url("//www.channelcentral.net/styles/fonts/HPSimplifiedW04-Bold.eot");
  src: url("//www.channelcentral.net/styles/fonts/HPSimplifiedW04-Bold.eot?#iefix") 
  format("embedded-opentype"), url("//www.channelcentral.net/styles/fonts/HPSimplifiedW04-Bold.woff") 
  format("woff"), url("//www.channelcentral.net/styles/fonts/hps-euro-bold-ttf.ttf") format("truetype"), 
  url("//www.channelcentral.net/styles/fonts/HPSimplifiedW04-Bold.svg#HPBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
