/*
   12 February 201511:02:49
   User: 
   Server: localhost\sqlexpress
   Database: iQuote2_LIVE_UA6
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.SlotType ADD
	EnforceMinorCode bit NOT NULL CONSTRAINT DF_SlotType_EnforceMinorCode DEFAULT 0
GO
ALTER TABLE dbo.SlotType SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
